# Server
PORT=8080
SPRING_PROFILES_ACTIVE=dev

# Database
DB_URL=jdbc:postgresql://localhost:5432/sgd_hc
DB_USERNAME=
DB_PASSWORD=
APP_CORS_ALLOWED_ORIGINS=http://localhost:4200

# JWT
JWT_SECRET=thatqIsMykeyregrdesawww233eggtwasoddgkjjhhtdhttebd54ndsiuuhhhshs8877465sbbdd
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# Version que gradle usara para compilar el proyecto
MY_JAVA_VERSION=26

# Auditoria
AUDIT_ENCRYPTION_KEY=Lk+JyPYKgx7Ooxz6kYCU1/A7pZOQb+iz0B4qc3qHHgg=
AUDIT_INTEGRITY_KEY=SZE2vlhEUJVF8svvD4hG0xigvh1MML2WRGB2z7bimkZvsPqpPWkNzJk2oZXTKfkp
DB_URL_AUDIT=jdbc:postgresql://localhost:5432/sgd_hc_audit
DB_USERNAME_AUDIT=
DB_PASSWORD_AUDIT=
DB_NAME_AUDIT=sgd_hc_audit

# Email (Gmail SMTP)
SPRING_MAIL_HOST=smtp.gmail.com
SPRING_MAIL_PORT=587
SPRING_MAIL_USERNAME=
SPRING_MAIL_PASSWORD=
SPRING_MAIL_FROM=
