# Server
PORT=8080

# Database
DB_URL=jdbc:postgresql://localhost:5432/sgd_hc
DB_USERNAME=
DB_PASSWORD=
APP_CORS_ALLOWED_ORIGINS=http://localhost:4200

# JWT
JWT_SECRET=thatqIsMykeyregrdesawww233eggtwasoddgkjjhhtdhttebd54ndsiuuhhhshs8877465sbbdd
JWT_EXPIRATION=86400000
JWT_REFRESH_EXPIRATION=604800000

# Version que gradle usara para compilar el proyecto
MY_JAVA_VERSION=26

###### PARA PODER UTILIZAR EL SERVICIO DE DOCUMENTOS ONLYOFFICE
APP_PUBLIC_URL=http://172.17.0.1:3000
ONLYOFFICE_DS_URL=http://localhost:80


#docker run -d -p 8088:80 \
#      -e JWT_ENABLED=true \
#      -e JWT_SECRET=d04f5ec845e57637ff24f0e8100f09d6d5f922bf3350de907235a1e615f9c9ea \
#      onlyoffice/documentserver
